/**************************************************
Fonts
Droid Serif
Droid Sans
Droid Sans Mono

Font Scaling
6.854rem
4.236rem
2.618rem
1.618rem
1.0rem
0.618rem

Colour scheme

**************************************************/

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab|Merriweather|PT+Sans');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Open+Sans', 'PT Sans', sans-serif;
    background-color: azure;
}


/*************************** 
DEFAULTS - MOBILE FIRST 
***************************/

h1 {
    font: bold 4.236rem 'RobotoSlab', 'Merriweather', serif;
}

h2 {
    font: bold 2.618rem 'Roboto Slab', 'Merriweather', serif;
}

li,
p,
a {
    font: bold 1.618rem 'Open Sans', 'PT Sans', sans-serif;
    text-align: center;
    text-decoration: none;
}

pre,
code,
kbd {
    font: normal 1.0rem 'Open sans', 'PT Sans', sans-serif;
}


/***************************
    LAYOUT - MOBILE FIRST
***************************/

.wrapper {
    width: 95%;
}

header {
    background-image: url(graybanner.jpg);
    background-repeat: no-repeat;
    width: 100%;
    padding-left: 5%;
    color: azure;
}

nav {
    width: 100%;
    border: 3px solid black;
}

nav>ul {
    width: 100%;
}

nav li {
    width: 100%;
    list-style: none;
}

nav a,
nav a:link,
nav a:visited {
    color: black;
}

nav a:active,
nav a:focus,
nav a:hover {
    background-color: dimgray;
    display: block;
    color: azure;
}

main {
    width: 100%;
}

.col {
    float: none;
    width: 100%;
    padding: 10px;
}

.col img {
    width: 100%;
    height: auto;
    max-width: 100%;
    background-color: azure;
    border: 1px solid black;
    border-radius: 15px;
    margin-right: 20px;
}

footer {
    padding: 5px;
    width: 100%;
}

footer li {
    list-style: none;
}

footer a {
    text-decoration: none;
}

img {
    float: left;
}

@media screen and (min-width:600px) {
    .wrapper {
        width: 100%;
    }
    header {
        width: 100%;
        padding-left: 5%;
    }
    nav {
        float: left;
        display: block;
        width: 90%;
        margin-left: 5%;
        border: 2px solid black;
    }
    nav li {
        float: left;
        display: inline;
        width: 20%;
        overflow: hidden;
    }
    nav a {
        width: 100%;
    }
    main {
        margin-left: 5%;
        width: 90%;
    }
    .col {
        display: block;
        width: 50%;
        float: left;
    }
    .col img {
        width: 60%;
    }
    footer {
        float: left;
        width: 90%;
    }
    footer p {
        text-align: left;
    }
    footer li {
        display: inline;
        float: left;
        padding-right: 10px;
    }
}

@media screen and (min-width: 800px) {
    header {
        border-bottom: 1px solid black;
    }
    nav {
        float: left;
        width: 90%;
        border: none;
    }
    nav li {
        float: left;
        display: inline;
        width: 20%;
    }
    .link {
        width: 20%;
    }
    nav a {
        text-decoration: none;
    }
    main {
        width: 90%;
    }
    .col {
        display: block;
        float: left;
        width: 50%;
        padding: 30px;
    }
    .col img {
        width: 60%;
    }
    footer {
        display: block;
        width: 100%;
        border-top: 1px solid black;
        float: left;
        padding: 10px;
    }
    footer li {
        text-decoration: none;
        display: inline;
        padding-right: 10px;
    }
    footer p {
        text-align: left;
    }
    footer a {
        text-decoration: none;
    }
}

@media screen and (min-width: 1200px) {
    header {
        width: 100%;
    }
    .wrapper {
        width: 100%;
    }
    nav {
        margin: 0px;
        padding-left: 5%;
        width: 30%;
        display: block;
        float: left;
        margin-top: 3%;
    }
    main {
        margin: 0;
        float: left;
        display: block;
        padding-top: 2%;
        width: 70%;
    }
    .link {
        width: 100%;
    }
    nav li {
        text-decoration: none;
        display: flex;
        padding: 5px;
    }
    nav a {
        text-align: left;
    }
    .col {
        display: block;
        float: left;
        width: 50%;
    }
    .col img {
        width: 55%;
    }
    footer {
        display: block;
        width: 100%;
        border-top: 1px solid black;
        float: left;
        padding: 10px;
    }
    footer p {
        text-align: left;
    }
    footer li {
        text-decoration: none;
        display: inline;
        padding-right: 30px;
    }
    footer a {
        text-decoration: none;
    }
}